
/*Navigation*/

 .dropdown-submenu {
    position: relative;
}

 .dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 10px 10px 10px;
    -moz-border-radius: 0 10px 10px;
    border-radius: 0 10px 10px 10px;
}

 .dropdown-submenu:hover > .dropdown-menu {
    display: block;
     padding-right: -100px;
     margin-right: -100px;
}

 .dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

 .dropdown-submenu:hover > a:after {
    border-left-color: #fff;
     /*background-color: #6b9dbb;*/
}

 .dropdown-submenu.pull-left {
    float: none;
}

 .dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;

}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    color: #f8fcff;
    text-decoration: none;
    background-color: #3d6983;
}
